<div class="panel panel-info">
  <div class="panel-heading">Carrinho</div>
  <div class="panel-body">
      <table class="table table-hover">
          <thead>
              <tr>
                  <th>
                      #
                  </th>
                  <th>
                      Produto
                  </th>
                  <th>
                      Fornecedor
                  </th>
                  <th>
                      Quantidade
                  </th>
                  <th>
                      Preço
                  </th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="product in CC.products">
                  <td>
                      <strong>{{$index + 1}}</strong>
                  </td>
                  <td>
                      {{product.name}}
                  </td>
                  <td>
                      {{product.SupplierId}}
                      <!-- {{CC.suppliers[product.SupplierId]}} -->
                  </td>
                  <td>
                      {{product.ShopCartProduct.qtd}}
                  </td>
                  <td>
                      {{product.price * product.ShopCartProduct.qtd | currency : 'R$ ' : 2}}
                  </td>
              </tr>
              <tr>
                  <td>

                  </td>
                  <td colspan="3">
                      <strong>Preço Total</strong>
                  </td>
                  <td>
                      {{CC.priceSum | currency : 'R$ ' : 2}}
                  </td>
              </tr>
          </tbody>
      </table>
      <div class="text-center">
          <button type="button" class="btn btn-primary btn-lg" ng-click="CC.addProduct()">Adicionar Produto</button>
          <button type="button" class="btn btn-primary btn-lg">Finalizar Compra</button>
      </div>
  </div>
</div>
