<div class="panel panel-info">
  <div class="panel-heading">Carrinho</div>
  <div class="panel-body">
      <table class="table table-hover">
          <thead>
              <tr>
                  <th>
                      #
                  </th>
                  <th>
                      Produto
                  </th>
                  <th>
                      Fornecedor
                  </th>
                  <th>
                      Quantidade
                  </th>
                  <th>
                      Preço
                  </th>
                  <th>

                  </th>
              </tr>
          </thead>
          <tbody ng-repeat="product in CC.products">
              <tr>
                  <td>
                      <strong>{{$index + 1}}</strong>
                  </td>
                  <td>
                      {{product.name}}
                  </td>
                  <td>
                      <!-- {{product}} -->
                  </td>
                  <td>
                      <!-- {{product.address}} -->
                  </td>
                  <td>
                      {{product.price | currency : 'R$ ' : 2}}
                  </td>
                  <td>

                  </td>
              </tr>
          </tbody>
      </table>
      <div class="text-center">
          <button type="button" class="btn btn-primary btn-lg" ng-click="CC.addProduct()">Adicionar Produto</button>
          <button type="button" class="btn btn-primary btn-lg">Finaizar Compra</button>
      </div>
  </div>
</div>
