<div class="panel panel-info">
  <div class="panel-heading">Carrinho</div>
  <div class="panel-body">
      <table class="table table-hover">
          <thead>
              <tr>
                  <th>
                      #
                  </th>
                  <th>
                      Produto
                  </th>
                  <th>
                      Fornecedor
                  </th>
                  <th>
                      Quantidade
                  </th>
                  <th>
                      Preço
                  </th>
                  <th>

                  </th>
              </tr>
          </thead>
          <!-- <tbody ng-repeat="order in OLC.orders">
              <tr>
                  <td>
                      <strong>{{$index + 1}}</strong>
                  </td>
                  <td>
                      {{order.name}}
                  </td>
                  <td>
                      {{order.date | date: 'dd-MM-yyyy' }}
                  </td>
                  <td>
                      {{order.address}}
                  </td>
                  <td>
                      {{order.status}}
                  </td>
              </tr>
          </tbody> -->
      </table>
      <h1> {{CC.cart}} </h1>
  </div>
</div>
