<div class="panel panel-info">
  <div class="panel-heading">{{SCC.supplier.name}} : Lista de Produtos</div>
  <div class="panel-body">
      <table class="table table-hover">
          <thead>
              <tr>
                  <th>
                      #
                  </th>
                  <th>
                      Nome
                  </th>
                  <th>
                      Tipo
                  </th>
                  <th>
                      Descrição
                  </th>
                  <th>
                      Preço
                  </th>
                  <th>
                      Métrica
                  </th>
                  <th>
                      Quantidade
                  </th>
                  <th>

                  </th>
              </tr>
          </thead>
          <tbody ng-repeat="product in SCC.products">
              <tr>
                  <td>
                      <strong>{{$index + 1}}</strong>
                  </td>
                  <td>
                      {{product.name}}
                  </td>
                  <td>
                      {{product.category}}
                  </td>
                  <td>
                      {{product.description}}
                  </td>
                  <td>
                      {{product.price | currency : 'R$ ' : 2}}
                  </td>
                  <td>
                      {{product.metric}}
                  </td>
                  <td>
                      <input type="number" class="form-control" ng-model="SCC.products[$index].quantity">
                  </td>
                  <td>
                      <button type="button" class="btn btn-primary btn-sm" ng-click="SCC.addProduct(product)">Adicionar</button>
                  </td>
              </tr>
          </tbody>
      </table>
      <div ng-show="SCC.sucess" class="alert alert-success" role="alert">Produto adicionado com sucesso ao carrinho</div>
      <div class="text-center">
          <button type="button" class="btn btn-primary btn-lg" ng-click="SCC.return()">Voltar para o Carrinho</button>
      </div>
  </div>
</div>
