<div class="panel panel-info">
  <div class="panel-heading">Lista de Fornecedores</div>
  <div class="panel-body">
      <table class="table table-hover">
          <thead>
              <tr>
                  <th>
                      #
                  </th>
                  <th>
                      Nome
                  </th>
                  <th>
                      Telefone
                  </th>
                  <th>
                      Endereço
                  </th>
                  <th>

                  </th>
              </tr>
          </thead>
          <tbody ng-repeat="supplier in SLC.suppliers">
              <tr ng-click="supplierDetails(supplier)">
                  <td>
                      <strong>{{$index + 1}}</strong>
                  </td>
                  <td>
                      {{supplier.name}}
                  </td>
                  <td>
                      {{supplier.phone }}
                  <td>
                      {{supplier.address}}
                  </td>
                  <td>
                    <span class="glyphicon glyphicon-plus" aria-hidden="true" ng-click="SLC.supplierDetails(supplier)"></span>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
